body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

header {
  font-family: monospace;
  font-size: larger;
  font-weight: bolder;
  background: #f0f0f0;
  border-radius: 5px 5px;
  padding: 5px 5px;
}

.debugging {
  font-size: 12px;
}

table.status-list {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: monospace;
  font-size: 14px;
}

table.status-list td,
th {
  border: 1px solid gray;
  padding: 0.25em 0.5em;
  max-width: 300px;
  word-wrap: break-word;
}

.tooltiptext {
  visibility: hidden;
  background-color: #f0f0f0;
  color: #404040;
  font-size: smaller;
  padding: 1px 2px;
  border-radius: 3px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.greyed {
  color: grey;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.graph-options {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  padding: 0.25em 0.5em;
}
