
grpc_port: 9314

probe {
  name: "grpc_generic"
  type: GRPC
  targets {
    # Hit another cloudprober instance running with grpc_server enabled.
    host_names: "localhost"
  }

  grpc_probe {
    insecure_transport: true
<<<<<<< HEAD
    port: 9314

=======
>>>>>>> a1d3e6cd (Move gRPC port out of the  stanza)
    method: GENERIC
    request {
      call_service_method: "cloudprober.Cloudprober.ListProbes"
      body: "{}"
    }
  }
}
