# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore files without extensions
!Dockerfile
!AUTHORS
!Makefile
!LICENSE

node_modules
docs/public
docs/resources
vendor/
**.hugo_build.lock
*.bak

**DS_Store
.vscode
.scannerwork
.claude/
.idea/

docs/_config_docs
docs/content/docs/config