# Demo config for the EXTERNAL_GRPC probe type. Probe runs are delegated to
# a sidecar process over gRPC; run the example sidecar first:
#   go run ./sidecar
probe {
  name: "web_via_sidecar"
  type: EXTERNAL_GRPC
  targets {
    host_names: "cloudprober.org,www.google.com"
  }
  interval_msec: 5000
  timeout_msec: 4000

  external_grpc_probe {
    server: "unix:/tmp/cloudprober-sidecar.sock"
    probe_type: "http"
    config: '{ "scheme": "https", "path": "/" }'
  }
}

probe {
  name: "tcp_via_sidecar"
  type: EXTERNAL_GRPC
  targets {
    host_names: "cloudprober.org"
  }
  interval_msec: 5000
  timeout_msec: 2000

  external_grpc_probe {
    server: "unix:/tmp/cloudprober-sidecar.sock"
    probe_type: "tcp"
    config: '{ "port": 443 }'
  }
}
