/** Custom styles */
::selection {
  background: rgba(118, 215, 254, 0.2);
}

.header-bar {
  border-top: 0px;
  border-image-source: none;
  border-image-slice: 0;
}

.home h1 {
  font-size: calc(1.625rem + 1.3vw);
}

.form-control.is-search {
  padding-right: 4rem;
  border: 1px solid #ccc;
  background: $gray-100;

  @include media-breakpoint-up(md) {
    width: calc(100% + 2rem);
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.emphasize {
  font-family: Jost, "system-ui", "Segoe UI", roboto, "Helvetica Neue", arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 125%;
  line-height: 1.5;
}

.alert {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

.footnotes {
  font-style: italic;
  font-size: smaller;
}

.feather-moon {
  margin-bottom: 6px;
}

.social-slack {
  margin-bottom: 3px;
}

.lead {
  font-weight: 400;
  font-family: $h3-font-family;
}

h1 {
  font-family: Jost, "system-ui", "Segoe UI", roboto, "Helvetica Neue", arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

a.docs-link {
  font-size: $font-size-md;
}

.section-sm {
  padding-top: 0.3rem;
}

.nav-item {
  font-weight: 500;
}

.doks-navbar {
  background-color: #f8f8f8;
}

.nav .nav-item {
  text-transform: uppercase;
  font-size: .93rem;
}

.social-link {
  text-transform: none;
  font-size: .95rem;
}

.dropdown-menu-main .dropdown-item {
  color: inherit;
  font-size: 0.92rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.footer li {
  font-size: $font-size-sm;
  margin-bottom: 0;
}