# Run alongside mock_server.go:
#   go run examples/script/mock_server.go &
#   ./cloudprober --config_file=examples/script/cloudprober.cfg --logtostderr
#
# Watch metrics:
#   tail -f /tmp/cloudprober-script.metrics

probe {
  name: "trading_api_flow"
  type: SCRIPT
  targets {
    host_names: "127.0.0.1:8080"
  }
  interval_msec: 5000
  timeout_msec: 3000
  script_probe {
    source_file: "examples/script/trading_api.star"
  }
}

surfacer {
  type: FILE
  file_surfacer {
    file_path: "/tmp/cloudprober-script.metrics"
  }
}
