name: Helm Chart Release
on:
  push:
    branches:
      - master
      - 'helm-release*'
      - 'helm-test*'
    paths:
      - 'helm/Chart.yaml'
      - '.github/workflows/hugo.yml'
    tags:
      - 'v*'

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo hosting code
        if: ${{ !contains(github.event_name, 'workflow_dispatch') }}
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repo: 'cloudprober/helm-charts'

      - name: Check out charts code
        if: ${{ !contains(github.event_name, 'workflow_dispatch') }}
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repo: 'cloudprober/cloudprober'
          path: 'cloudprober'

      - name: Set cloudprober version for release
        if: startsWith(github.ref, 'refs/tags')
        run: echo "CLOUDPROBER_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Set cloudprober version for non-release
        if-not: startsWith(github.ref, 'refs/tags')
        run: |
          LAST_VERSION=$(go list -m -versions github.com/cloudprober/cloudprober | tr ' ' '\n' | tac | head -1)
          echo "CLOUDPROBER_VERSION=${LAST_VERSION}" >> $GITHUB_ENV

      - name: Set up Helm
        uses: azure/setup-helm@v3
        id: install

      - name: Update chart version
        run: |
          baseVersion=$(sed -n '/version: /s/version: //p' cloudprober/helm/Chart.yaml)
          echo "Base version: $baseVersion"
          bv=( ${baseVersion//./ } )

          cpVersion=${CLOUDPROBER_VERSION/v/}
          echo "Cloudprober version: $cpVersion"
          cv=( ${cpVersion//./ } )

          newVersion=$((${bv[0]} + ${cv[0]})).$((${bv[1]} + ${cv[1]})).$((${bv[2]} + ${cv[2]}))
          echo "New version: $newVersion"

          sed -i "s/version: .*$/version: $newVersion/" cloudprober/helm/Chart.yaml
          sed -i "s/appVersion: .*$/appVersion: \'${CLOUDPROBER_VERSION}\'/" cloudprober/helm/Chart.yaml

          echo "New Chart.yaml"
          cat cloudprober/helm/Chart.yaml

      - name: Package chart
        run: |
          mkdir -p charts
          cd charts; helm package cloudprober/helm; cd -
          git status
